outer-space {
	z-index: 2;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	font-family: courier;
	font-size: 12px;
	color: lightgray;
}

outer-space zoom-level {
	font-family: 'Inconsolata';
	display: block;
	z-index: 3;
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 5px;
	margin: 10px;
	box-shadow: 0px 0px 5px black;
	background: #1a1a1a;
}

outer-space .float {
	display: inline-flex;
	position: absolute;
}

outer-space .float span:nth-child(1) {
	float: left;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 5px 5px 0;
	border-color: transparent #959595 transparent transparent;
}

outer-space .float span:nth-child(2) {
	padding: 0 3;
	border-radius: 2px;
	/* border: 1px solid rgba(255, 255, 255, 0.5); */
}

outer-space .region {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: gray;
	position: absolute;
	/*background: rgba(127, 127, 127, 0.05);*/
	border-radius: 100%;
	border: 2px dotted rgba(127, 127, 127, 0.1);
	box-shadow: 0px 0px 50px hsl(0deg 0% 0% / 5%);
}


outer-space .ping {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	margin: -10px;
	color: orange;
	position: absolute;
	/*background: rgba(127, 127, 127, 0.05);*/
	border-radius: 20%;
	border: 1px solid rgba(255, 255, 255, 0.5);
	animation: 0.5s ease-in-out 0s infinite alternate ping-rotate, 1s ease-in-out 0s infinite alternate ping-glow;
	transform: rotateZ(45deg);
}

@keyframes ping-rotate {
	from {
		transform: rotateZ(45deg);
	}

	to {
		transform: rotateZ(-45deg);
	}
}

@keyframes ping-glow {
	from {
		box-shadow: 0px 0px 5px white;
	}

	to {
		box-shadow: 0px 0px 10px pink;
	}
}