/* lessc styles.less styles.css */
x-right-bar {
  z-index: 3;
  position: absolute;
  bottom: 50;
  right: 0;
  margin: 20px;
  margin-right: 0;
  bbackground: hsla(0, 0%, 50%, 0.5);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  user-select: none;
}
x-right-bar x-begin {
  cursor: pointer;
  font-family: 'Inconsolata';
  font-size: 14px;
  bbackground: hsla(0, 0%, 50%, 0.2);
  margin: 2px;
  display: flex;
  flex-direction: column;
}
x-right-bar x-begin x-title {
  padding: 8px;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  color: darkseagreen;
  color: #85c685;
  display: flex;
  align-items: center;
}
x-right-bar x-begin x-title span:nth-of-type(2) {
  padding-left: 1ch;
}
x-right-bar x-begin x-title span:nth-of-type(1) {
  font-family: 'Material Symbols Outlined';
  font-size: 14px;
}
x-right-bar x-begin x-content {
  padding: 5px;
  background: rgba(77, 77, 77, 0.2);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  display: none;
  flex-direction: column;
}
x-right-bar x-begin x-content x-horizontal-rule {
  display: block;
  margin: 5px;
  border-bottom: 1px solid darkgray;
  border-bottom: 1px solid gray;
}
x-right-bar x-begin x-content x-tabs {
  display: flex;
}
x-right-bar x-begin x-content x-tab {
  display: flex;
  padding: 4px;
  border: 1px solid #ffffff54;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
x-right-bar x-begin x-content x-tab:hover {
  background: rgba(81, 88, 121, 0.3);
}
x-right-bar x-begin x-content x-tab.selected {
  border-top: 1px solid #ffffff54;
  border-bottom: 1px solid transparent;
}
x-right-bar x-begin x-content x-tab:not(.selected) {
  border: 1px solid transparent;
  border-bottom: 1px solid #ffffff54;
}
x-right-bar x-begin x-content x-inner-content {
  display: flex;
  width: 200px;
  padding: 5px;
  border: 1px solid #ffffff54;
  border-top: none;
  max-height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
}
x-right-bar x-begin x-content table {
  border-spacing: 0px;
}
x-right-bar x-begin x-content td {
  padding: 2px;
}
x-right-bar x-begin x-content thead td {
  padding: 2px;
  bborder-left: 1px solid #ababab;
  border-bottom: 1px solid #ababab;
}
x-right-bar x-begin x-content tbody td {
  bborder-right: 1px solid #ababab;
}
x-right-bar x-begin x-content tr:hover {
  background: rgba(139, 139, 139, 0.2);
}
x-right-bar x-begin.selected-item x-content {
  width: 200px;
}
x-right-bar x-begin.overview x-content {
  wwidth: 150px;
  bbackground: rgba(82, 82, 169, 0.5);
}
