@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Major+Mono+Display&family=Poppins:wght@400;600&display=swap');

body {
	background-color: #353f48;
	font-family: Arial, Helvetica, sans-serif;
	font-family: 'Poppins', sans-serif;
	color: #dddddd;
	font-size: 16px;
	margin: 0;
	
	background: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/01b3ab40-08d5-4899-baaa-9f05eac92ad9/ddfjox4-ffde9cf4-58c3-4bae-b46f-cb236b78d9b7.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzAxYjNhYjQwLTA4ZDUtNDg5OS1iYWFhLTlmMDVlYWM5MmFkOVwvZGRmam94NC1mZmRlOWNmNC01OGMzLTRiYWUtYjQ2Zi1jYjIzNmI3OGQ5YjcucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.qsCP_RHg6TTElZcsGYWPxzR81OPx9tiwXK2NBZU4UaI);
	background-position: center;
	touch-action: pan-y;

}

:root {
	--blue: #00000000;
	--circle: 70px;
	--spread: 4px;
}

canvas {
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
}

/* nav bar */

nav-bar {
	z-index: 3;
	position: relative;
	color: #e2e2e2;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: rgb(0 81 127 / 85%);
	bbackground: linear-gradient(90deg, rgb(61 65 68 / 50%) 50%, rgb(66 103 125 / 50%) 100%);
}

nav-bar-left {
	align-content: center;
	display: flex;
	align-items: center;
	height: 50px;
	background: linear-gradient(90deg, rgb(24 89 141) 0%, rgb(11 73 109 / 0%) 100%);
}

nav-bar-left menu-button {
	margin: 30px;
	font-size: 24px;
	cursor: pointer;
}

nav-bar-left my-logo {
	display: inline-block;
}


nav-bar-left my-logo span:nth-child(1) {
	cursor: pointer;
	display: inline-block;
	font-family: 'Major Mono Display';
	ccolor: #e8e8e8;
	font-weight: 600;
	font-size: 16px;
	letter-spacing: 2px;
	margin-left: 0ex;
}

.shaded {
	background: #0000001a;
}

nav-bar-right {
	display: inline-block;
	font-size: 16px;
	padding: 10px;
}

nav-bar-right .start-playing {
	cursor: pointer;
	ppadding: 5px;
	/* border: 2px solid white; */
	text-decoration: underline;
	letter-spacing: 0px;
}

my-message-container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	height: 60px;
	width: 100%;
}

my-message {
	z-index: 4;
	position: relative;
	font-family: Inconsolata, courier;
	font-size: 16px;
	top: -110px;
	display: block;
	background: rgb(207 207 207);
	box-sizing: border-box;
	padding: 10px;
	color: #494949;
	/* text-shadow: 0px 1px 0px hsl(0deg 0% 0% / 40%); */
	border-radius: 3px;
	box-shadow: 0px 0px 5px #3e3e3e;
}

my-message span:nth-child(1) {
	display: none;
	color: gray;
}

my-message span:nth-child(2) {}

side-bar {
	z-index: 4;
	position: absolute;
	left: -300;
	transition: left 0.3s ease-out 0s;
	width: 300px;
	height: 100%;
	padding: 20px;
	box-sizing: border-box;
    background: #dadada;
	color: #313131;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
}

side-bar-content {
	padding: 20px;
}

side-bar-content .button {
	display: block;
	cursor: pointer;
	margin: 20px;
}

side-bar close-button {
    display: inline-block;
	cursor: pointer;
    font-family: 'Material Symbols Outlined';
    font-size: 24px;
    padding: 5px;
    bborder: 2px solid white;
}

/* end nav bar */

/* content area */

my-content {
	position: relative;
	z-index: 3;
	display: block;
	/*width: 300px;*/
	box-sizing: border-box;
	/* width: 100%;  */
	/* height: calc(100% - 50px); */
	overflow: hidden;
}

my-trivial {
	position: relative;
	z-index: 3;
}

my-intro {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: calc(100% - 50px);
	box-sizing: border-box;
	perspective: 350px;
}

my-welcome {
	ffont-family: Inconsolata;
	font-size: 1.5em;
	color: #2c7cd5;
	transform: rotateY(4deg);
	padding: 20px;
	box-sizing: border-box;
	bborder: 3px solid #19325e;
	border-radius: 4px;
}

my-welcome h1 {
	font-family: 'Major Mono Display';
}

my-welcome span {
	ffont-weight: 600;
}

/* end content area */

/* forms */

#forms {
	display: block;
	font-family: 'Inconsolata';
	font-size: 14px;
	color: #e0e0e0;
	background: gray;
	padding: 10px;
}

#forms label {
	font-size: inherit;
}

#forms table {
	font-size: inherit;
	color: inherit;
}

#forms td {
	padding: 3px;
}

input {
	font-family: inherit;
	font-size: inherit;
	color: #232323;
	background: gray;
	border: 2px solid #6c6c6c;
	border: none;
	padding: 4px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
	cursor: pointer;
	box-shadow: 0 0 0 1000px gray inset;
	-webkit-text-fill-color: #333;
}

.login-button {
	font-family: inherit;
	color: inherit;
	width: 100%;
	background: transparent;
	border: 1px solid #7c7c7c;
	border: none;
	margin: 0;
	padding: 3px;
}

input[type="button"] {
	width: 100%;
}

input.wrong:invalid,
input.wrong:invalid:focus {
	bborder: 1px dashed red;
}

input[type="text"]:focus {
	outline: 0;
}

select {
	font-size: 18px;
	padding: 5px;
	border-radius: 0;
	background: inherit;
	border: 1px outset #b5b5b5;
	background: gray;
	color: white;
}

option {
	color: black;
}

option:hover {
	color: purple;
	background: inherit;
	background-color: yellow;
}

/* end forms */

.reminder {}

.logged {
	font-size: 0.9em;
	color: #bdbdbd;
	/* border-bottom: 1px solid darkgray; */
}

.smallish {
	font-size: 0.9em;
	color: #d1d1d1;
}

span.message {
	color: orange;
}

span.facilities {}

.amenities {
	background: #2f2f2f;
	border-radius: 3px;
	border: 1px inset #b1b1b1;
	padding: 10px;
	font-family: courier;
	font-size: 14px;
}

.colorful-button {
	display: inline-block;
	cursor: pointer;
	/* padding: 0 10px; */
	border-radius: 4px;
    border: 2px solid #348ad87d !important;
}

span.span-button {
	display: inline-block;
	/* color: white; */
	/* border: 1px inset #c1c1c1; */
	border-bottom: 1px solid white !important;
	/* padding: 0px 6px; */
	cursor: pointer;
	border-radius: 4px;
}