/* lessc styles.less styles.css */
x-right-bar {
  z-index: 3;
  position: absolute;
  bottom: 50;
  right: 0;
  margin: 20px;
  margin-right: 0;
  bbackground: hsla(0, 0%, 50%, 0.5);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  user-select: none;
}
x-right-bar x-begin {
  cursor: pointer;
  font-family: 'Space Mono';
  font-size: 13px;
  bbackground: hsla(0, 0%, 50%, 0.2);
  margin: 2px;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  display: flex;
  flex-direction: column;
}
x-right-bar x-begin x-title {
  padding: 8px;
  color: darkseagreen;
  color: #85c685;
  letter-spacing: 0px;
  display: flex;
  align-items: center;
}
x-right-bar x-begin x-title span:nth-of-type(2) {
  padding-left: 1ch;
}
x-right-bar x-begin x-title span:nth-of-type(1) {
  font-family: 'Material Symbols Outlined';
  font-size: 14px;
}
x-right-bar x-begin x-content {
  overflow: hidden;
  ccolor: #cecece;
  padding: 5px;
  bbackground: rgba(77, 77, 77, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.33);
  display: none;
  flex-direction: column;
  align-items: flex-start;
}
x-right-bar x-begin x-content x-pos {
  display: inline-flex;
}
x-right-bar x-begin x-content x-horizontal-rule {
  display: block;
  width: 100%;
  margin: 4px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.33);
}
x-right-bar x-begin x-content x-buttons {
  display: flex;
}
x-right-bar x-begin x-content x-button {
  display: inline-flex;
  padding: 4px;
  /* border-bottom: 1px solid #97d6da; */
  /* border-radius: 3px; */
  /* background: rgba(128, 128, 128, 0.5); */
  margin: 0 2px;
  text-decoration: underline;
  /* color: #97d6da; */
}
x-right-bar x-begin x-content x-button:hover {
  background: rgba(81, 88, 121, 0.3);
}
x-right-bar x-begin x-content x-tabs {
  display: flex;
}
x-right-bar x-begin x-content x-tab {
  display: flex;
  padding: 2px 6px;
  border: 1px solid rgba(255, 255, 255, 0.33);
  bborder-top: none;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
x-right-bar x-begin x-content x-tab:hover {
  bbackground: rgba(81, 88, 121, 0.3);
}
x-right-bar x-begin x-content x-tab.selected {
  border-bottom: 1px solid transparent;
  text-decoration: underline;
}
x-right-bar x-begin x-content x-tab:not(.selected) {
  border: 1px solid transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.33);
}
x-right-bar x-begin x-content x-outer-content {
  display: flex;
  wwidth: 200px;
  padding: 3px;
  border: 1px solid rgba(255, 255, 255, 0.33);
  border-top: none;
}
x-right-bar x-begin x-content x-outer-content x-inner-content {
  width: 100%;
  padding: 5px;
  bbackground: rgba(110, 110, 110, 0.5);
  display: flex;
  max-height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
}
x-right-bar x-begin x-content table {
  border-spacing: 0px;
  color: inherit;
  font-size: inherit;
}
x-right-bar x-begin x-content td {
  padding: 0 6px;
}
x-right-bar x-begin x-content thead td {
  border-left: 1px solid #ababab;
  border-bottom: 1px solid #ababab;
}
x-right-bar x-begin x-content tbody td {
  bborder-right: 1px solid #ababab;
}
x-right-bar x-begin x-content tr:hover {
  background: rgba(139, 139, 139, 0.2);
}
x-right-bar x-begin.selected-item x-content {
  width: 200px;
}
x-right-bar x-begin.overview x-content {
  wwidth: 150px;
  bbackground: rgba(82, 82, 169, 0.5);
}
