/* lessc styles.less styles.css */

x-right-bar {
	z-index: 3;
	position: absolute;
	bottom: 50;
	right: 0;
	margin: 20px;
	margin-right: 0;
	bbackground: hsl(0deg 0% 50% / 50%);
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	user-select: none;

	x-begin {
		cursor: pointer;
		font-family: 'Inconsolata';
		font-size: 14px;
		bbackground: hsl(0deg 0% 50% / 20%);
		margin: 2px;
		display: flex;
		flex-direction: column;

		x-title {
			padding: 8px;
			-webkit-backdrop-filter: blur(2px);
			backdrop-filter: blur(2px);
			color: darkseagreen;
			color: #85c685;
			display: flex;
			align-items: center;

			span:nth-of-type(2) {
				padding-left: 1ch;
			}

			span:nth-of-type(1) {
				font-family: 'Material Symbols Outlined';
				font-size: 14px;
			}
		}

		x-content {
			padding: 5px;
			background: rgb(77 77 77 / 20%);
			-webkit-backdrop-filter: blur(2px);
			backdrop-filter: blur(2px);
			display: none;
			flex-direction: column;

			x-horizontal-rule {
				display: block;
				margin: 5px;
				border-bottom: 1px solid darkgray;
				border-bottom: 1px solid gray;
			}

			x-tab {
				display: flex;
			}

			table {
				border-spacing: 0px;
			}

			td {
				padding: 2px;
			}
			
			thead td {
				padding: 5px;
				border-right: 1px solid gray;
				border-bottom: 1px solid gray;
			}

			tr:hover {
				background: rgb(139 139 139 / 20%);
			}
		}

		&.selected-item {
			x-content {
				width: 200px;
			}
		}

		&.overview {
			x-content {
				wwidth: 150px;
				max-height: 200px;
				overflow-y: scroll;
				overflow-x: hidden;
				bbackground: rgba(82, 82, 169, 0.5);
			}
		}
	}
}