/* lessc styles.less styles.css */

outer-space {
	z-index: 2;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	font-family: 'Space Mono';
	font-size: 11px;
	color: lightgray;

	x-attachment {
		z-index: 3;
		position: absolute;
	}

	zoom-level {
		font-family: 'Space Mono';
		display: block;
		z-index: 3;
		position: absolute;
		right: 0;
		bottom: 0;
		padding: 5px;
		margin: 10px;
		box-shadow: 0px 0px 5px black;
		background: #1a1a1a;
	}

	x-float {
		z-index: 2;
		text-transform: capitalize;
		user-select: none;
		position: absolute;
		margin-top: -0.5ex;
		display: inline-flex;
		animation: 2s ease-in 0s 1 alternate float-discover;

		&.you {
			ttext-decoration: underline;
			color: #68bfcd;
		}

		&.focus {
			text-decoration: underline;
		}

		x-triangle {
			float: left;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 5px 5px 5px 0;
			border-color: transparent #b1b1b1 transparent transparent;
		}

		x-label {
			padding: 0 3;
			border-radius: 2px;
			/* border: 1px solid rgba(255, 255, 255, 0.5); */

			&:hover {
				padding: 0 3;
				color: lightgreen;
				/* border: 1px solid rgba(255, 255, 255, 0.5); */
			}
		}

	}

	x-rock {
		background: url(tex/pngwing.com.png);
		background-size: 100% 100%;
	}

	.region {
		font-family: 'Space Mono';
		font-size: 18px;
		z-index: 1;
		user-select: none;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		ccolor: gray;
		position: absolute;
		/*background: rgba(127, 127, 127, 0.05);*/
		border-radius: 100%;
		border: 1px dotted rgba(127, 127, 127, 0.5);
		/* box-shadow: 0px 0px 50px hsl(0deg 0% 0% / 5%); */

		&.focus {
			text-decoration: underline;
		}
	}

	.ping {
		z-index: 3;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 20px;
		height: 20px;
		margin: -10px;
		color: orange;
		position: absolute;
		/*background: rgba(127, 127, 127, 0.05);*/
		border-radius: 20%;
		border: 1px solid rgba(255, 255, 255, 0.5);
		animation: 1s ease-in 0s infinite alternate ping-rotate;
		box-shadow: 0px 0px 10px pink;
	}

	.star {
		font-family: 'Space Mono';
		font-size: 18px;
		z-index: 1;
		user-select: none;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		ccolor: gray;
		position: absolute;
		background: rgba(255, 255, 255, 0.9);
		border-radius: 100%;
		bborder: 4px solid white;
		box-shadow: 0px 0px 30px white;
		/* box-shadow: 0px 0px 50px hsl(0deg 0% 0% / 5%); */

		&.focus {
			text-decoration: underline;
		}
	}

}

@keyframes float-discover {
	from {
		opacity: 0
	}

	to {
		opacity: 1
	}
}

@keyframes ping-rotate {
	from {
		box-shadow: 0px 0px 10px pink;
		transform: rotateZ(135deg);
		border-radius: 20%;
	}

	to {
		box-shadow: 0px 0px 5px white;
		transform: rotateZ(-135deg);
		border-radius: 50%;
	}
}

@borderColor: rgb(255 255 255 / 33%);

x-name-value-pair {
	display: flex;
	width: 100%;
	justify-content: space-between;

	x-name {}

	x-value {
		ttext-transform: capitalize;
	}
}

x-ui {
	font-family: 'Space Mono';
	font-size: 13px;
	user-select: none;
	display: flex;
	align-items: flex-start;
	flex-direction: column;

	x-pos {
		display: inline-flex;
	}
	
	x-icon {
		font-family: 'Material Symbols Outlined';
		font-size: 16px;
	}
	
	x-horizontal-rule {
		display: block;
		width: 100%;
		margin: 4px 0;
		border-top: 1px solid @borderColor;
	}
	
	x-buttons {
		display: flex;
	}
	
	x-button {
		cursor: pointer;
		display: inline-flex;
		padding: 4px;
		/* border-bottom: 1px solid #97d6da; */
		/* border-radius: 3px; */
		/* background: rgba(128, 128, 128, 0.5); */
		margin: 0 2px;
		text-decoration: underline;
		/* color: #97d6da; */
	
		&:hover {
			background: rgb(81 88 121 / 100%);
		}
	}
}

x-right-bar {
	z-index: 3;
	position: absolute;
	bottom: 30;
	right: 0;
	margin: 20px;
	margin-right: 0;
	bbackground: hsl(0deg 0% 50% / 50%);
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	user-select: none;

	x-begin {
		font-family: 'Space Mono';
		font-size: 13px;
		bbackground: hsl(0deg 0% 50% / 20%);
		margin: 2px;
		-webkit-backdrop-filter: blur(2px);
		backdrop-filter: blur(2px);
		display: flex;
		flex-direction: column;

		x-title {
			cursor: pointer;
			padding: 8px;
			ttext-transform: uppercase;
			color: darkseagreen;
			color: #85c685;
			letter-spacing: 0px;
			display: flex;
			align-items: center;

			span:nth-of-type(2) {
				padding-left: 1ch;
			}

			span:nth-of-type(1) {
				font-family: 'Material Symbols Outlined';
				font-size: 14px;
			}
		}

		x-content {
			overflow: hidden;
			ccolor: #cecece;
			padding: 5px;
			bbackground: rgb(77 77 77 / 20%);
			border: 1px solid @borderColor;
			display: none;
			flex-direction: column;
			align-items: flex-start;

			x-tabs {
				display: flex;
				align-items: center;
			}

			x-tab {
				cursor: pointer;
				display: flex;
				padding: 2px 6px;
				border: 1px solid @borderColor;
				bborder-top: none;
				border-top-left-radius: 2px;
				border-top-right-radius: 2px;

				&:hover {
					bbackground: rgb(81 88 121 / 30%);
				}

				&.selected {
					border-bottom: 1px solid transparent;
					text-decoration: underline;
				}

				&:not(.selected) {
					border: 1px solid transparent;
					border-bottom: 1px solid @borderColor;
				}
			}

			x-scrollable {
				display: block;
				position: absolute;
				right: 0;
				font-family: 'Material Symbols Outlined';
				font-size: 12px;
				display: flex;
				margin: 0 10px;
				animation: 0.5s linear 0s infinite alternate overflow-pulse;
			}

			@keyframes overflow-pulse {
				from {
					opacity: 0;
				}

				to {
					opacity: 1;
				}
			}

			x-outer-content {
				display: flex;
				wwidth: 200px;
				padding: 3px;
				border: 1px solid @borderColor;
				border-top: none;

				x-inner-content {
					width: 100%;
					padding: 5px;
					bbackground: rgb(110 110 110 / 50%);
					max-height: 200px;
					overflow-y: scroll;
					overflow-x: hidden;
					display: flex;
					flex-direction: column;
				}
			}

			table {
				border-spacing: 0px;
				color: inherit;
				font-size: inherit;
			}

			td {
				padding: 0 6px;

				x-sorter {
					display: flex;
					justify-content: space-between;
					align-items: center;

					span {
						font-family: 'Material Symbols Outlined';
						font-size: 16px;
					}
				}
			}

			tr.selected {
				text-decoration: underline;
			}

			thead td {
				bborder-left: 1px solid rgb(171, 171, 171);
				bborder-bottom: 1px solid rgb(171, 171, 171);
			}

			tbody {
				td {
					bborder-right: 1px solid rgb(171, 171, 171);
				}

				tr:hover {
					background: rgb(139 139 139 / 20%);
				}
			}
		}

		&.selected-item {
			x-content {
				mmin-width: 200px;
			}
		}

		&.overview {
			x-content {
				wwidth: 150px;

				bbackground: rgba(82, 82, 169, 0.5);
			}
		}
	}
}